<div class="app-footer primary" fxLayout="row" fxLayout.xs="column" fxFlexAlign.xs="center">
  <div fxFlex="33%" fxFlex.sm="100%" fxFlexAlign="start" fxFlexAlign.xs="center">
    <img src="http://www.howcogroup.com/images/logo-white.png" class="footerLogo">
  </div>
  <div fxLayout="column"
  fxFlexAlign="center"
  fxFlex="67%"
  fxFlex.sm="100%"
  >
    <div class="legal">
        &copy; 2017 Howco Group plc. All Rights Reserved.<br>
        Registered in Scotland No. SC79844.
        Registered Office: 2nd Floor, Fountain House, 1-3 Woodside Crescent
        Glasgow, G3 7UL
    </div>

  </div>
</div>
